.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #863d58    !important;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #100322    !important;
}
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #100322    !important;
}